.att-head {
  background-color: #001301;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

.att-body {
  text-align: center;
  background-color: rgb(5, 191, 248);
  color: rgb(7, 0, 0);
  border-style: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.att-card {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nav-link {
  color: black;
}

.navbar-dark {
  background-color: rgb(0, 0, 0);
}

body {
  background-color: rgb(255, 255, 255);
}




